bin/
obj/
*.user
*.userosscache
*.suo
*.sln.docstates
*.userprefs
*.dll
*.exe
*.pdb
*.cache
*.vsp
*.vspx
*.ilk
*.log
*.lib
*.sbr
*.swp
*.bak
*.tmp
*.err
*.tlog
*.vs
*.vscode
.vs/
.vscode/
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa]pp[Pp]ublish/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*
*.[Pp]ublish.xml
*.nupkg
*.nuspec
*.json
